#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

}

body {
  margin: 0;
  color: #2B283A;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/embossed-paper.png");
}

.light {
  font-weight: 200;
}

.medium {
  font-weight: 500;
}

.strong {
  font-weight: 800;
}

.nav-header {
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -50px;
  padding: 16px 32px;
  color: white;
  font-size: 16.46px;
  gap: 4px;
  height: 55px;
}

.card {
  display: flex;
  padding: 40px;
  margin: 35px 30px;
}

.card-img {
  height: 300px;
  width: 225px;
  border-radius: 8px;
  object-fit: cover;
}

.card-content {
  margin: 10px;
  padding: 0 20px
}

.location-img {
  color: #F55A5A;
}

.card-location {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 15px;
}

.card-country {
  letter-spacing: 3px;
  margin: 8px 0;
}

a {
  color: #918E9B;
}

a:hover {
  color: #535bf2;
}

.card-title {
  margin: 0 0;
}

.card-duration {
  margin-bottom: 0;
  padding: 14px 0 0 0;
}
